
.btn {
  outline: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 22px;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
}

.btn svg {
  padding-right: 5px; 
}

.btn.btn-primary {
  background: #EC5252;
  color: white;
}

.btn.btn-primary:hover {
  background: #df2b2b;
}

.btn.full-width {
  width: 100%;
}

.btn.btn-secondary {
  background: #ffefef;
  color: black;
}