
/* Navbar */
 nav {
  width: 5%;
  background-color: #ec5252;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.nav_create {
  margin: 15px 0 20px 0;
}

.nav_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_items a {
  margin: 6px 0;
}

.nav_bottom {
  margin-bottom: 50px;
}

.nav_account img {
  border: 3px solid rgb(177, 1, 1);
}

.nav_account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_account img {
  margin-bottom: 15px;
}

.nav_account svg {
  margin-right: 7px;
  cursor: pointer;
}

.create-post-modal .field {
  margin-top: 10px !important;
}

.create-post-modal h3 {
  margin: 0;
}

.create-post-modal .modal-footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.create-post-modal .modal-footer button:first-child {
  margin-right: 4px;
}