.post-container {
    background: rgb(236 100 100);
    border-radius: 8px;
    padding: 15px 18px;
    width: 370px;
    color: white;
    position: relative;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header_username {
    font-weight: bold;
    margin: 0;
    margin-bottom: 3px;
    font-size: 18px;
}

.post-header img{
    border: 3px solid white;
    width: 45px;
    height: 45px;
    margin-right: 8px;
}

.post-body {
    margin-top: 20px;
}

.post-body_item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post-body_item p{
    margin: 0;
}

.post-body_item svg {
    margin-right: 8px;
}

.post-footer {
    margin-top: 15px;
}

.post_bloodgroup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 32%;
    z-index: 500;
    background-color: #ffa5a5;
    border-top-left-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_bloodgroup h1 {
    font-weight: 800;
    color: #ff5757;
    font-size: 36px;
}

.post-container button:hover {
    color: white;
}