.user-tag {
    padding: 1px 8px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: max-content;
}

.user-tag p {
    margin: 0;
    font-size: 13px;
}

.user_recipient {
    background: #05d605c7;
}

.user_donor {
    background-color: red;
}