.home-wrapper {
  display: flex;
}

.home-wrapper > section {
  flex: 1;
  padding-left: 5%;
  padding-right: 40%;
}

.home-wrapper nav {
  width: 5%;
  background-color: #ec5252;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-wrapper aside {
    width: 22%;
    background-color: #b97c7c;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}

.home-nav_create {
  margin: 12px 0 20px 0;
}

.home-nav_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-nav_items a {
  margin: 6px 0;
}

.home-nav_bottom {
  margin-bottom: 50px;
}

.home-nav_account img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  vertical-align: middle;
  object-fit: cover;
  cursor: pointer;
}
