@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Arial";
  background: #ffd6d6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  scroll-behavior: smooth;
}

 .Toastify {
    z-index: 999999;
}

.react-tooltip {
  z-index: 10000;
}

.page-left-pad {
  padding-left: calc(40px + 5%) !important;
}

.page-right-pad {
  padding-right: calc(22% + 40px) !important;
}

.page-wrapper {
  padding: 70px 0;
}

a, a:hover {
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
  height: auto;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
  object-fit: cover;
  cursor: pointer;
}