@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: "Nunito", "Arial";
  background: #E99C9D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}