@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: "Nunito", "Arial";
  background: #ffd6d6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  scroll-behavior: smooth;
}

.react-tooltip {
  z-index: 10000;
}

a, a:hover {
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  width: 100%;
  height: auto;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
  object-fit: cover;
  cursor: pointer;
}