/* Section */

.home-section_banner {
    background-color: #d33838;
    color: white;
    padding: 25px;
    border-radius: 8px;
    position: relative;
}

.home-section_banner img {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 200px;
}

.home-section_banner h1 {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 30px;
}

.home-section_banner p {
    margin: 0;
}

.home-section_posts {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.home-section_posts .post-container {
    width: 42% !important;
}

.home-section_tabs {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.home-section_tabs button {
    margin-right: 6px;
}